In [1]:
import numpy as np
import seaborn as sns
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt

from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from xgboost import plot_importance

from sklearn.metrics import f1_score
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.utils import class_weight

In [2]:
df = pd.read_csv("../data/cleaned_data_ext.csv", index_col=0)
df_orig = df

df = df[df["CODE_GENDER"] != "XNA"] # filter out gender = XNA bc only 4 entries
categorical = ["NAME_CONTRACT_TYPE", "CODE_GENDER", "FLAG_OWN_CAR", "FLAG_OWN_REALTY"] # change categorical variables to 0, 1 encoding
for col in categorical:
  fst = df[col].iloc[0]
  df[col] = (df[col] == fst).astype(float)

df = df.drop(columns=["OWN_CAR_AGE"]) # drop this because we have the new categorical variables for this info

C:\Users\Benja\AppData\Local\Temp\ipykernel_19600\1498923487.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = (df[col] == fst).astype(float)

In [3]:
#impute external scores with mean
ext_one_mean = df["EXT_SOURCE_1"].mean()
ext_two_mean = df["EXT_SOURCE_2"].mean()
ext_three_mean = df["EXT_SOURCE_3"].mean()

df["EXT_SOURCE_1"].fillna(value=ext_one_mean, inplace=True)
df["EXT_SOURCE_2"].fillna(value=ext_two_mean, inplace=True)
df["EXT_SOURCE_3"].fillna(value=ext_three_mean, inplace=True)

In [4]:
# drop entries with a nan
df = df.dropna(axis=0)

In [5]:
# # figure out which columns only have one value
# for i in df.columns:
#     # if len(pd.unique(df[i])) <= 1:
#     print(i, pd.unique(df[i]))

In [6]:
df['car_owned_less_10'] = df['car_owned_less_10'].astype(float)
df['car_owned_10_to_20'] = df['car_owned_10_to_20'].astype(float)
df['car_owned_20_to_30'] = df['car_owned_20_to_30'].astype(float)
df['car_owned_30'] = df['car_owned_30'].astype(float)
df['no_car'] = df['no_car'].astype(float)

In [7]:
df = df.drop(columns=["FLAG_MOBIL", "Unknown"]) #these columns now only have one value so they are useless for predicting --> remove them

In [8]:
#pd.value_counts(df["TARGET"])
not ((df["TARGET"] < 0) & (df["TARGET"] > 1)).any()

True

In [9]:
cols = ['no_car', 'Group of people', 'CNT_CHILDREN', 'Maternity leave', 'Widow', 'Co-op apartment', 'IT staff', 'SUNDAY', 'Industry: type 8', 'Academic degree']
df_tmp = df.drop(cols, axis=1)
# df_tmp['constant'] = np.ones(df.shape[0])
# print(np.linalg.matrix_rank(df_tmp))
# for i in df_tmp.columns:
#     # if len(pd.unique(df[i])) <= 1:
#     x_tmp = df_tmp.drop([i], axis=1)
#     print(i, np.linalg.matrix_rank(x_tmp))

In [10]:
df_tmp

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,Trade: type 4,Trade: type 5,Trade: type 6,Trade: type 7,Transport: type 1,Transport: type 2,Transport: type 3,Transport: type 4,University,XNA
0,100002,1,1.0,1.0,1.0,1.0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0,0,0,0,0,0,0
1,100003,0,1.0,0.0,1.0,0.0,270000.0,1293502.5,35698.5,1129500.0,...,0,0,0,0,0,0,0,0,0,0
2,100004,0,0.0,1.0,0.0,1.0,67500.0,135000.0,6750.0,135000.0,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,1.0,1.0,1.0,1.0,121500.0,513000.0,21865.5,513000.0,...,0,0,0,0,0,0,0,0,0,0
5,100008,0,1.0,1.0,1.0,1.0,99000.0,490495.5,27517.5,454500.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307503,456247,0,1.0,0.0,1.0,1.0,112500.0,345510.0,17770.5,247500.0,...,0,0,0,0,0,0,0,0,0,0
307505,456249,0,1.0,0.0,1.0,1.0,112500.0,225000.0,22050.0,225000.0,...,0,0,0,0,0,0,0,0,0,1
307508,456253,0,1.0,0.0,1.0,1.0,153000.0,677664.0,29979.0,585000.0,...,0,0,0,0,0,0,0,0,0,0
307509,456254,1,1.0,0.0,1.0,1.0,171000.0,370107.0,20205.0,319500.0,...,0,0,0,0,0,0,0,0,0,0
307510,456255,0,1.0,0.0,1.0,0.0,157500.0,675000.0,49117.5,675000.0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,Trade: type 4,Trade: type 5,Trade: type 6,Trade: type 7,Transport: type 1,Transport: type 2,Transport: type 3,Transport: type 4,University,XNA
0,100002,1,1.0,1.0,1.0,1.0,0,202500.0,406597.5,24700.5,...,0,0,0,0,0,0,0,0,0,0
1,100003,0,1.0,0.0,1.0,0.0,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0,0,0,0,0,0
2,100004,0,0.0,1.0,0.0,1.0,0,67500.0,135000.0,6750.0,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,1.0,1.0,1.0,1.0,0,121500.0,513000.0,21865.5,...,0,0,0,0,0,0,0,0,0,0
5,100008,0,1.0,1.0,1.0,1.0,0,99000.0,490495.5,27517.5,...,0,0,0,0,0,0,0,0,0,0

In [12]:
# normalize columns that are not one hot
for i in df_tmp.columns[1:]:
    if set(pd.unique(df_tmp[i])) != {0, 1}: #0 or 1
      df_tmp[i] = (df_tmp[i] - df_tmp[i].min()) / (df_tmp[i].max() - df_tmp[i].min())
df_tmp.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,Trade: type 4,Trade: type 5,Trade: type 6,Trade: type 7,Transport: type 1,Transport: type 2,Transport: type 3,Transport: type 4,University,XNA
0,100002,1,1.0,1.0,1.0,1.0,0.001508,0.090287,0.090032,0.077441,...,0,0,0,0,0,0,0,0,0,0
1,100003,0,1.0,0.0,1.0,0.0,0.002085,0.311736,0.132924,0.271605,...,0,0,0,0,0,0,0,0,0,0
2,100004,0,0.0,1.0,0.0,1.0,0.000354,0.022472,0.020025,0.023569,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,1.0,1.0,1.0,1.0,0.000816,0.116854,0.078975,0.117845,...,0,0,0,0,0,0,0,0,0,0
5,100008,0,1.0,1.0,1.0,1.0,0.000623,0.111235,0.101018,0.103255,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_tmp.to_csv('cleaned_data_ext_norm.csv')

In [27]:
# logistic regression
Xtrain = df_tmp.drop(columns=["TARGET", "SK_ID_CURR"], axis=1)
Xtrain = sm.add_constant(Xtrain, prepend=False)
ytrain = df_tmp["TARGET"]

log_reg = sm.Logit(ytrain, Xtrain.astype(float)).fit()

print(log_reg.summary())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.240917
         Iterations: 35

c:\ProgramData\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

                           Logit Regression Results
==============================================================================
Dep. Variable:                 TARGET   No. Observations:               264894
Model:                          Logit   Df Residuals:                   264741
Method:                           MLE   Df Model:                          152
Date:                Tue, 02 May 2023   Pseudo R-squ.:                  0.1151
Time:                        22:39:05   Log-Likelihood:                -63817.
converged:                      False   LL-Null:                       -72118.
Covariance Type:            nonrobust   LLR p-value:                     0.000
=================================================================================================
                                    coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
NAME_CONTRACT_TYPE                0.3050      0.033      9.168      0.000       0.240       0.370
CODE_GENDER                       0.2787      0.020     13.974      0.000       0.240       0.318
FLAG_OWN_CAR                     14.2227   1679.192      0.008      0.993   -3276.934    3305.379
FLAG_OWN_REALTY                   0.0488      0.017      2.821      0.005       0.015       0.083
AMT_INCOME_TOTAL               2.048e-08   2.49e-08      0.824      0.410   -2.82e-08    6.92e-08
AMT_CREDIT                     2.353e-06   1.23e-07     19.124      0.000    2.11e-06    2.59e-06
AMT_ANNUITY                    9.302e-06    9.2e-07     10.115      0.000     7.5e-06    1.11e-05
AMT_GOODS_PRICE               -2.842e-06    1.4e-07    -20.271      0.000   -3.12e-06   -2.57e-06
REGION_POPULATION_RELATIVE        0.5257      0.706      0.745      0.456      -0.858       1.909
DAYS_BIRTH                    -6.268e-06   2.83e-06     -2.216      0.027   -1.18e-05   -7.25e-07
DAYS_EMPLOYED                  6.245e-05   4.71e-06     13.256      0.000    5.32e-05    7.17e-05
DAYS_REGISTRATION              8.173e-06   2.43e-06      3.367      0.001    3.41e-06    1.29e-05
DAYS_ID_PUBLISH                3.651e-05    5.4e-06      6.764      0.000    2.59e-05    4.71e-05
FLAG_EMP_PHONE                   -1.3372      1.093     -1.223      0.221      -3.480       0.805
FLAG_WORK_PHONE                   0.1592      0.020      7.861      0.000       0.120       0.199
FLAG_CONT_MOBILE                 -0.1910      0.178     -1.071      0.284      -0.540       0.158
FLAG_PHONE                       -0.0761      0.019     -4.072      0.000      -0.113      -0.039
FLAG_EMAIL                       -0.0758      0.033     -2.285      0.022      -0.141      -0.011
CNT_FAM_MEMBERS                   0.0188      0.011      1.705      0.088      -0.003       0.040
REGION_RATING_CLIENT             -0.1486      0.052     -2.868      0.004      -0.250      -0.047
REGION_RATING_CLIENT_W_CITY       0.3029      0.052      5.826      0.000       0.201       0.405
HOUR_APPR_PROCESS_START          -0.0030      0.002     -1.216      0.224      -0.008       0.002
REG_REGION_NOT_LIVE_REGION       -0.3087      0.111     -2.793      0.005      -0.525      -0.092
REG_REGION_NOT_WORK_REGION        0.1186      0.117      1.012      0.311      -0.111       0.348
LIVE_REGION_NOT_WORK_REGION      -0.2005      0.117     -1.720      0.085      -0.429       0.028
REG_CITY_NOT_LIVE_CITY            0.2040      0.039      5.178      0.000       0.127       0.281
REG_CITY_NOT_WORK_CITY           -0.0735      0.044     -1.680      0.093      -0.159       0.012
LIVE_CITY_NOT_WORK_CITY           0.0876      0.043      2.053      0.040       0.004       0.171
EXT_SOURCE_1                     -1.1838      0.060    -19.807      0.000      -1.301      -1.067
EXT_SOURCE_2                     -1.9590      0.039    -49.669      0.000      -2.036      -1.882
EXT_SOURCE_3                     -2.8394      0.040    -70.172      0.000      -2.919      -2.760
OBS_30_CNT_SOCIAL_CIRCLE          0.0454      0.056      0.812      0.417      -0.064       0.155
DEF_30_CNT_SOCIAL_CIRCLE          0.1135      0.031      3.631      0.000       0.052       0.175
OBS_60_CNT_SOCIAL_CIRCLE         -0.0449      0.056     -0.795      0.427      -0.156       0.066
DEF_60_CNT_SOCIAL_CIRCLE          0.0406      0.037      1.094      0.274      -0.032       0.113
DAYS_LAST_PHONE_CHANGE         4.953e-05   1.02e-05      4.853      0.000    2.95e-05    6.95e-05
AMT_REQ_CREDIT_BUREAU_HOUR       -0.0291      0.091     -0.319      0.750      -0.208       0.150
AMT_REQ_CREDIT_BUREAU_DAY         0.0991      0.068      1.458      0.145      -0.034       0.232
AMT_REQ_CREDIT_BUREAU_WEEK       -0.0571      0.038     -1.496      0.135      -0.132       0.018
AMT_REQ_CREDIT_BUREAU_MON        -0.0183      0.010     -1.842      0.065      -0.038       0.001
AMT_REQ_CREDIT_BUREAU_QRT        -0.0524      0.012     -4.205      0.000      -0.077      -0.028
AMT_REQ_CREDIT_BUREAU_YEAR        0.0134      0.004      3.325      0.001       0.006       0.021
car_owned_less_10                13.8302   1679.192      0.008      0.993   -3277.326    3304.987
car_owned_10_to_20               14.0161   1679.192      0.008      0.993   -3277.141    3305.173
car_owned_20_to_30               14.1023   1679.192      0.008      0.993   -3277.054    3305.259
car_owned_30                     14.0903   1679.192      0.008      0.993   -3277.066    3305.247
Children                          0.5071      0.160      3.176      0.001       0.194       0.820
Family                            0.4699      0.141      3.324      0.001       0.193       0.747
Other_A                           0.4622      0.197      2.352      0.019       0.077       0.847
Other_B                           0.5329      0.169      3.149      0.002       0.201       0.865
Spouse, partner                   0.4438      0.145      3.053      0.002       0.159       0.729
Unaccompanied                     0.4795      0.140      3.428      0.001       0.205       0.754
Businessman                     -10.1414   6.52e+06  -1.56e-06      1.000   -1.28e+07    1.28e+07
Commercial associate             18.7959   8.92e+04      0.000      1.000   -1.75e+05    1.75e+05
Pensioner                         5.9651   8.92e+04   6.69e-05      1.000   -1.75e+05    1.75e+05
State servant                    18.7877   8.92e+04      0.000      1.000   -1.75e+05    1.75e+05
Student                          -0.3599   8.99e+04  -4.01e-06      1.000   -1.76e+05    1.76e+05
Unemployed                      -22.5464   6.21e+06  -3.63e-06      1.000   -1.22e+07    1.22e+07
Working                          18.8994   8.92e+04      0.000      1.000   -1.75e+05    1.75e+05
Higher education                  1.1751      0.595      1.976      0.048       0.010       2.341
Incomplete higher                 1.2326      0.596      2.069      0.039       0.065       2.400
Lower secondary                   1.5809      0.598      2.645      0.008       0.410       2.752
Secondary / secondary special     1.4495      0.594      2.438      0.015       0.284       2.615
Civil marriage                    0.1421      0.047      3.004      0.003       0.049       0.235
Married                           0.0178      0.043      0.413      0.680      -0.067       0.102
Separated                         0.1529      0.049      3.104      0.002       0.056       0.249
Single / not married              0.0928      0.045      2.057      0.040       0.004       0.181
House / apartment                 0.1382      0.131      1.057      0.290      -0.118       0.394
Municipal apartment               0.2707      0.136      1.987      0.047       0.004       0.538
Office apartment                 -0.0627      0.158     -0.396      0.692      -0.373       0.248
Rented apartment                  0.2160      0.141      1.536      0.125      -0.060       0.492
With parents                      0.1634      0.134      1.220      0.222      -0.099       0.426
Accountants                      -0.1445      0.057     -2.545      0.011      -0.256      -0.033
Cleaning staff                    0.1051      0.062      1.695      0.090      -0.016       0.227
Cooking staff                     0.0878      0.054      1.614      0.106      -0.019       0.194
Core staff                       -0.0907      0.039     -2.354      0.019      -0.166      -0.015
Drivers                           0.1254      0.037      3.401      0.001       0.053       0.198
HR staff                          0.0161      0.196      0.082      0.935      -0.369       0.401
High skill tech staff            -0.0775      0.049     -1.597      0.110      -0.173       0.018
Laborers                          0.0969      0.027      3.553      0.000       0.043       0.150
Low-skill Laborers                0.2986      0.075      3.994      0.000       0.152       0.445
Managers                         -0.0066      0.039     -0.171      0.864      -0.083       0.069
Medicine staff                   -0.0289      0.064     -0.449      0.653      -0.155       0.097
Private service staff            -0.1169      0.097     -1.201      0.230      -0.308       0.074
Realty agents                    -0.0051      0.160     -0.032      0.975      -0.318       0.308
Sales staff                       0.0404      0.033      1.241      0.215      -0.023       0.104
Secretaries                       0.0744      0.125      0.596      0.551      -0.170       0.319
Security staff                    0.1219      0.059      2.065      0.039       0.006       0.238
Waiters/barmen staff              0.0791      0.105      0.752      0.452      -0.127       0.285
FRIDAY                            0.0971      0.039      2.521      0.012       0.022       0.173
MONDAY                            0.0370      0.039      0.956      0.339      -0.039       0.113
SATURDAY                          0.0259      0.041      0.634      0.526      -0.054       0.106
THURSDAY                          0.0712      0.039      1.846      0.065      -0.004       0.147
TUESDAY                           0.0825      0.038      2.149      0.032       0.007       0.158
WEDNESDAY                         0.0912      0.038      2.377      0.017       0.016       0.166
Advertising                       0.7780      1.091      0.713      0.476      -1.360       2.916
Agriculture                       0.6054      1.076      0.562      0.574      -1.504       2.715
Bank                              0.2267      1.078      0.210      0.833      -1.886       2.340
Business Entity Type 1            0.5561      1.075      0.518      0.605      -1.550       2.662
Business Entity Type 2            0.5785      1.074      0.539      0.590      -1.526       2.683
Business Entity Type 3            0.6085      1.073      0.567      0.571      -1.495       2.712
Cleaning                          0.4776      1.102      0.434      0.665      -1.682       2.637
Construction                      0.7476      1.074      0.696      0.486      -1.358       2.853
Culture                           0.4504      1.105      0.408      0.684      -1.716       2.616
Electricity                       0.3424      1.084      0.316      0.752      -1.781       2.466
Emergency                         0.4769      1.088      0.438      0.661      -1.656       2.610
Government                        0.5040      1.074      0.469      0.639      -1.601       2.609
Hotel                             0.3845      1.083      0.355      0.723      -1.738       2.508
Housing                           0.5460      1.076      0.507      0.612      -1.563       2.655
Industry: type 1                  0.6967      1.079      0.646      0.519      -1.418       2.812
Industry: type 10                 0.3802      1.152      0.330      0.741      -1.878       2.638
Industry: type 11                 0.5580      1.076      0.519      0.604      -1.551       2.667
Industry: type 12                -0.1582      1.118     -0.141      0.887      -2.349       2.033
Industry: type 13                 0.2226      1.200      0.185      0.853      -2.130       2.575
Industry: type 2                  0.2159      1.092      0.198      0.843      -1.925       2.357
Industry: type 3                  0.6756      1.075      0.628      0.530      -1.432       2.783
Industry: type 4                  0.5177      1.081      0.479      0.632      -1.601       2.636
Industry: type 5                  0.3102      1.088      0.285      0.776      -1.822       2.442
Industry: type 6                  0.5031      1.147      0.439      0.661      -1.746       2.752
Industry: type 7                  0.5113      1.079      0.474      0.636      -1.604       2.626
Industry: type 9                  0.2536      1.076      0.236      0.814      -1.855       2.362
Insurance                         0.4647      1.092      0.425      0.671      -1.676       2.606
Kindergarten                      0.5307      1.075      0.494      0.621      -1.576       2.637
Legal Services                    0.9590      1.103      0.870      0.385      -1.203       3.121
Medicine                          0.5274      1.075      0.491      0.624      -1.579       2.634
Military                          0.1169      1.078      0.108      0.914      -1.996       2.229
Mobile                            0.6567      1.095      0.600      0.549      -1.490       2.804
Other                             0.5586      1.074      0.520      0.603      -1.546       2.663
Police                            0.1961      1.079      0.182      0.856      -1.918       2.311
Postal                            0.6857      1.077      0.637      0.524      -1.425       2.797
Realtor                           1.1300      1.091      1.036      0.300      -1.008       3.269
Religion                          0.6421      1.177      0.546      0.585      -1.665       2.949
Restaurant                        0.7288      1.077      0.677      0.499      -1.382       2.839
School                            0.4191      1.075      0.390      0.697      -1.687       2.525
Security                          0.4840      1.076      0.450      0.653      -1.625       2.593
Security Ministries               0.1812      1.079      0.168      0.867      -1.934       2.297
Self-employed                     0.7145      1.073      0.666      0.506      -1.389       2.818
Services                          0.5129      1.080      0.475      0.635      -1.604       2.630
Telecom                           0.6385      1.088      0.587      0.557      -1.494       2.771
Trade: type 1                     0.3321      1.097      0.303      0.762      -1.818       2.482
Trade: type 2                     0.1359      1.079      0.126      0.900      -1.978       2.250
Trade: type 3                     0.5763      1.075      0.536      0.592      -1.531       2.684
Trade: type 4                    -0.3444      1.299     -0.265      0.791      -2.891       2.202
Trade: type 5                     0.1051      1.304      0.081      0.936      -2.450       2.661
Trade: type 6                     0.1885      1.094      0.172      0.863      -1.957       2.334
Trade: type 7                     0.6197      1.074      0.577      0.564      -1.486       2.725
Transport: type 1                -0.0002      1.135     -0.000      1.000      -2.225       2.224
Transport: type 2                 0.4786      1.077      0.444      0.657      -1.632       2.589
Transport: type 3                 1.0244      1.078      0.951      0.342      -1.088       3.137
Transport: type 4                 0.5720      1.075      0.532      0.595      -1.534       2.678
University                        0.4105      1.082      0.379      0.704      -1.711       2.532
XNA                             -11.0164    967.117     -0.011      0.991   -1906.531    1884.498
const                           -34.5611   8.92e+04     -0.000      1.000   -1.75e+05    1.75e+05
=================================================================================================

In [28]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(class_weight='balanced', max_iter=10000)

Xtrain = df_tmp.drop(columns=["TARGET", "SK_ID_CURR"], axis=1)
# Xtrain = sm.add_constant(Xtrain, prepend=False)
ytrain = df_tmp["TARGET"]

logreg.fit(Xtrain, ytrain)

LogisticRegression(class_weight='balanced', max_iter=10000)

In [29]:
#logreg.score(Xtrain, ytrain)
f1 = f1_score(ytrain, logreg.predict(Xtrain))
f1

0.17506004708642817

In [30]:
print(classification_report(ytrain, logreg.predict(Xtrain)))

              precision    recall  f1-score   support

           0       0.94      0.61      0.74    244404
           1       0.10      0.54      0.18     20490

    accuracy                           0.61    264894
   macro avg       0.52      0.58      0.46    264894
weighted avg       0.88      0.61      0.70    264894

In [31]:
# linear model 
x = sm.add_constant(Xtrain, prepend=False)
mod = sm.OLS(ytrain, x.astype(float))
res = mod.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 TARGET   R-squared:                       0.064
Model:                            OLS   Adj. R-squared:                  0.064
Method:                 Least Squares   F-statistic:                     119.5
Date:                Tue, 02 May 2023   Prob (F-statistic):               0.00
Time:                        22:39:34   Log-Likelihood:                -17434.
No. Observations:              264894   AIC:                         3.517e+04
Df Residuals:                  264741   BIC:                         3.678e+04
Df Model:                         152
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
NAME_CONTRACT_TYPE                0.0161      0.002      8.419      0.000       0.012       0.020
CODE_GENDER                       0.0202      0.001     14.907      0.000       0.018       0.023
FLAG_OWN_CAR                      0.1088      0.116      0.940      0.347      -0.118       0.336
FLAG_OWN_REALTY                   0.0036      0.001      3.112      0.002       0.001       0.006
AMT_INCOME_TOTAL               4.905e-09   2.08e-09      2.358      0.018    8.28e-10    8.98e-09
AMT_CREDIT                      1.48e-07   8.08e-09     18.326      0.000    1.32e-07    1.64e-07
AMT_ANNUITY                     6.69e-07   5.81e-08     11.512      0.000    5.55e-07    7.83e-07
AMT_GOODS_PRICE               -1.777e-07   8.91e-09    -19.951      0.000   -1.95e-07    -1.6e-07
REGION_POPULATION_RELATIVE        0.1303      0.044      2.965      0.003       0.044       0.216
DAYS_BIRTH                    -7.378e-08   1.93e-07     -0.383      0.702   -4.51e-07    3.04e-07
DAYS_EMPLOYED                  3.018e-06   2.65e-07     11.366      0.000     2.5e-06    3.54e-06
DAYS_REGISTRATION              4.484e-07   1.54e-07      2.908      0.004    1.46e-07    7.51e-07
DAYS_ID_PUBLISH                2.712e-06   3.59e-07      7.546      0.000    2.01e-06    3.42e-06
FLAG_EMP_PHONE                   -0.0865      0.087     -0.990      0.322      -0.258       0.085
FLAG_WORK_PHONE                   0.0109      0.001      7.708      0.000       0.008       0.014
FLAG_CONT_MOBILE                 -0.0101      0.011     -0.888      0.375      -0.032       0.012
FLAG_PHONE                       -0.0038      0.001     -3.175      0.001      -0.006      -0.001
FLAG_EMAIL                       -0.0045      0.002     -2.052      0.040      -0.009      -0.000
CNT_FAM_MEMBERS                   0.0009      0.001      1.196      0.232      -0.001       0.002
REGION_RATING_CLIENT             -0.0116      0.003     -3.544      0.000      -0.018      -0.005
REGION_RATING_CLIENT_W_CITY       0.0214      0.003      6.507      0.000       0.015       0.028
HOUR_APPR_PROCESS_START          -0.0001      0.000     -0.677      0.499      -0.000       0.000
REG_REGION_NOT_LIVE_REGION       -0.0217      0.007     -3.322      0.001      -0.035      -0.009
REG_REGION_NOT_WORK_REGION        0.0053      0.007      0.756      0.450      -0.008       0.019
LIVE_REGION_NOT_WORK_REGION      -0.0106      0.007     -1.510      0.131      -0.024       0.003
REG_CITY_NOT_LIVE_CITY            0.0174      0.003      5.862      0.000       0.012       0.023
REG_CITY_NOT_WORK_CITY           -0.0017      0.003     -0.505      0.613      -0.008       0.005
LIVE_CITY_NOT_WORK_CITY           0.0031      0.003      0.939      0.348      -0.003       0.010
EXT_SOURCE_1                     -0.0787      0.004    -19.510      0.000      -0.087      -0.071
EXT_SOURCE_2                     -0.1573      0.003    -54.035      0.000      -0.163      -0.152
EXT_SOURCE_3                     -0.2067      0.003    -73.945      0.000      -0.212      -0.201
OBS_30_CNT_SOCIAL_CIRCLE          0.0030      0.004      0.776      0.438      -0.005       0.010
DEF_30_CNT_SOCIAL_CIRCLE          0.0088      0.002      3.910      0.000       0.004       0.013
OBS_60_CNT_SOCIAL_CIRCLE         -0.0030      0.004     -0.777      0.437      -0.011       0.005
DEF_60_CNT_SOCIAL_CIRCLE          0.0036      0.003      1.313      0.189      -0.002       0.009
DAYS_LAST_PHONE_CHANGE         2.975e-06   6.32e-07      4.709      0.000    1.74e-06    4.21e-06
AMT_REQ_CREDIT_BUREAU_HOUR       -0.0011      0.006     -0.172      0.864      -0.013       0.011
AMT_REQ_CREDIT_BUREAU_DAY         0.0067      0.005      1.409      0.159      -0.003       0.016
AMT_REQ_CREDIT_BUREAU_WEEK       -0.0043      0.003     -1.702      0.089      -0.009       0.001
AMT_REQ_CREDIT_BUREAU_MON        -0.0007      0.001     -1.234      0.217      -0.002       0.000
AMT_REQ_CREDIT_BUREAU_QRT        -0.0019      0.001     -2.992      0.003      -0.003      -0.001
AMT_REQ_CREDIT_BUREAU_YEAR        0.0006      0.000      2.216      0.027     7.1e-05       0.001
car_owned_less_10                 0.0839      0.116      0.725      0.468      -0.143       0.311
car_owned_10_to_20                0.0931      0.116      0.804      0.421      -0.134       0.320
car_owned_20_to_30                0.1000      0.116      0.864      0.388      -0.127       0.327
car_owned_30                      0.0984      0.116      0.850      0.395      -0.129       0.325
Children                          0.0286      0.009      3.168      0.002       0.011       0.046
Family                            0.0268      0.008      3.477      0.001       0.012       0.042
Other_A                           0.0271      0.012      2.197      0.028       0.003       0.051
Other_B                           0.0315      0.010      3.100      0.002       0.012       0.051
Spouse, partner                   0.0253      0.008      3.151      0.002       0.010       0.041
Unaccompanied                     0.0277      0.008      3.646      0.000       0.013       0.043
Businessman                       0.0116      0.290      0.040      0.968      -0.557       0.580
Commercial associate              0.0097      0.259      0.037      0.970      -0.497       0.516
Pensioner                        -0.0401      0.274     -0.146      0.884      -0.578       0.497
State servant                     0.0129      0.259      0.050      0.960      -0.494       0.520
Student                          -0.0632      0.267     -0.236      0.813      -0.587       0.460
Unemployed                       -0.0710      0.330     -0.216      0.829      -0.717       0.575
Working                           0.0175      0.259      0.068      0.946      -0.489       0.524
Higher education                  0.0368      0.022      1.704      0.088      -0.006       0.079
Incomplete higher                 0.0342      0.022      1.574      0.115      -0.008       0.077
Lower secondary                   0.0618      0.022      2.800      0.005       0.019       0.105
Secondary / secondary special     0.0514      0.022      2.384      0.017       0.009       0.094
Civil marriage                    0.0104      0.003      3.538      0.000       0.005       0.016
Married                           0.0003      0.003      0.108      0.914      -0.005       0.005
Separated                         0.0093      0.003      3.085      0.002       0.003       0.015
Single / not married              0.0070      0.003      2.570      0.010       0.002       0.012
House / apartment                 0.0101      0.008      1.219      0.223      -0.006       0.026
Municipal apartment               0.0189      0.009      2.177      0.029       0.002       0.036
Office apartment                 -0.0028      0.010     -0.285      0.775      -0.022       0.017
Rented apartment                  0.0187      0.009      2.022      0.043       0.001       0.037
With parents                      0.0146      0.009      1.694      0.090      -0.002       0.031
Accountants                      -0.0043      0.003     -1.348      0.178      -0.010       0.002
Cleaning staff                    0.0074      0.004      1.688      0.091      -0.001       0.016
Cooking staff                     0.0071      0.004      1.784      0.074      -0.001       0.015
Core staff                       -0.0046      0.002     -1.908      0.056      -0.009       0.000
Drivers                           0.0107      0.003      4.023      0.000       0.006       0.016
HR staff                          0.0028      0.012      0.238      0.812      -0.020       0.026
High skill tech staff            -0.0040      0.003     -1.348      0.178      -0.010       0.002
Laborers                          0.0088      0.002      4.652      0.000       0.005       0.013
Low-skill Laborers                0.0425      0.007      6.387      0.000       0.029       0.056
Managers                         -0.0002      0.002     -0.065      0.948      -0.005       0.005
Medicine staff                   -0.0019      0.004     -0.468      0.640      -0.010       0.006
Private service staff            -0.0066      0.006     -1.100      0.271      -0.018       0.005
Realty agents                    -0.0023      0.011     -0.211      0.833      -0.023       0.019
Sales staff                       0.0022      0.002      0.968      0.333      -0.002       0.007
Secretaries                       0.0036      0.008      0.452      0.651      -0.012       0.019
Security staff                    0.0098      0.004      2.283      0.022       0.001       0.018
Waiters/barmen staff              0.0073      0.008      0.916      0.360      -0.008       0.023
FRIDAY                            0.0056      0.003      2.220      0.026       0.001       0.011
MONDAY                            0.0014      0.003      0.551      0.582      -0.004       0.006
SATURDAY                          0.0011      0.003      0.417      0.676      -0.004       0.006
THURSDAY                          0.0037      0.003      1.454      0.146      -0.001       0.009
TUESDAY                           0.0046      0.003      1.806      0.071      -0.000       0.010
WEDNESDAY                         0.0049      0.003      1.952      0.051   -2.04e-05       0.010
Advertising                       0.0489      0.062      0.783      0.433      -0.073       0.171
Agriculture                       0.0326      0.061      0.533      0.594      -0.087       0.153
Bank                              0.0160      0.061      0.262      0.793      -0.104       0.136
Business Entity Type 1            0.0322      0.061      0.528      0.598      -0.087       0.152
Business Entity Type 2            0.0335      0.061      0.549      0.583      -0.086       0.153
Business Entity Type 3            0.0369      0.061      0.605      0.545      -0.083       0.156
Cleaning                          0.0254      0.063      0.400      0.689      -0.099       0.150
Construction                      0.0489      0.061      0.800      0.423      -0.071       0.169
Culture                           0.0286      0.063      0.457      0.647      -0.094       0.151
Electricity                       0.0213      0.062      0.347      0.729      -0.099       0.142
Emergency                         0.0268      0.062      0.431      0.666      -0.095       0.148
Government                        0.0287      0.061      0.470      0.638      -0.091       0.148
Hotel                             0.0217      0.062      0.352      0.725      -0.099       0.142
Housing                           0.0311      0.061      0.509      0.611      -0.089       0.151
Industry: type 1                  0.0471      0.062      0.766      0.444      -0.074       0.168
Industry: type 10                 0.0279      0.066      0.421      0.674      -0.102       0.158
Industry: type 11                 0.0313      0.061      0.511      0.609      -0.089       0.151
Industry: type 12                 0.0004      0.063      0.007      0.995      -0.122       0.123
Industry: type 13                -0.0001      0.072     -0.002      0.998      -0.141       0.141
Industry: type 2                  0.0118      0.062      0.189      0.850      -0.110       0.134
Industry: type 3                  0.0411      0.061      0.673      0.501      -0.079       0.161
Industry: type 4                  0.0319      0.062      0.518      0.605      -0.089       0.153
Industry: type 5                  0.0143      0.062      0.231      0.817      -0.107       0.136
Industry: type 6                  0.0262      0.066      0.395      0.693      -0.104       0.157
Industry: type 7                  0.0280      0.061      0.456      0.648      -0.092       0.148
Industry: type 9                  0.0147      0.061      0.240      0.810      -0.105       0.134
Insurance                         0.0283      0.062      0.456      0.648      -0.093       0.150
Kindergarten                      0.0286      0.061      0.468      0.640      -0.091       0.148
Legal Services                    0.0571      0.063      0.907      0.365      -0.066       0.180
Medicine                          0.0305      0.061      0.499      0.617      -0.089       0.150
Military                          0.0081      0.061      0.132      0.895      -0.112       0.128
Mobile                            0.0374      0.063      0.594      0.553      -0.086       0.161
Other                             0.0323      0.061      0.529      0.597      -0.087       0.152
Police                            0.0136      0.061      0.222      0.824      -0.106       0.134
Postal                            0.0386      0.061      0.630      0.528      -0.081       0.159
Realtor                           0.0756      0.063      1.206      0.228      -0.047       0.198
Religion                          0.0383      0.068      0.563      0.574      -0.095       0.171
Restaurant                        0.0496      0.061      0.808      0.419      -0.071       0.170
School                            0.0262      0.061      0.430      0.668      -0.093       0.146
Security                          0.0280      0.061      0.458      0.647      -0.092       0.148
Security Ministries               0.0119      0.061      0.194      0.846      -0.108       0.132
Self-employed                     0.0439      0.061      0.720      0.472      -0.076       0.163
Services                          0.0289      0.061      0.470      0.638      -0.091       0.149
Telecom                           0.0352      0.062      0.568      0.570      -0.086       0.157
Trade: type 1                     0.0178      0.063      0.284      0.776      -0.105       0.141
Trade: type 2                     0.0027      0.061      0.045      0.964      -0.117       0.123
Trade: type 3                     0.0341      0.061      0.557      0.577      -0.086       0.154
Trade: type 4                    -0.0173      0.070     -0.246      0.806      -0.155       0.121
Trade: type 5                     0.0073      0.073      0.099      0.921      -0.136       0.151
Trade: type 6                     0.0154      0.062      0.249      0.804      -0.106       0.137
Trade: type 7                     0.0374      0.061      0.613      0.540      -0.082       0.157
Transport: type 1                 0.0004      0.064      0.006      0.995      -0.125       0.126
Transport: type 2                 0.0289      0.061      0.472      0.637      -0.091       0.149
Transport: type 3                 0.0802      0.062      1.303      0.193      -0.040       0.201
Transport: type 4                 0.0342      0.061      0.560      0.575      -0.085       0.154
University                        0.0296      0.061      0.482      0.630      -0.091       0.150
XNA                              -1.1163      0.172     -6.508      0.000      -1.452      -0.780
const                             0.1141      0.304      0.376      0.707      -0.481       0.710
==============================================================================
Omnibus:                   151161.350   Durbin-Watson:                   2.002
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           912204.923
Skew:                           2.866   Prob(JB):                         0.00
Kurtosis:                      10.057   Cond. No.                     1.48e+09
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.48e+09. This might indicate that there are
strong multicollinearity or other numerical problems.

In [32]:
X = Xtrain
y = ytrain
seed = 100
test_size = 0.25

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=seed)
classes_weights = class_weight.compute_sample_weight(
    class_weight='balanced',
    y=y_train
)

# xgb_classifier.fit(X, y, sample_weight=classes_weights)


model = XGBClassifier(base_score=np.sum(y_train == 0)/len(y_train), max_depth=10)
model.fit(X_train, y_train, sample_weight=classes_weights)

XGBClassifier(base_score=0.9222982835858459, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=10, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [33]:
y_pred = model.predict(X_test)

In [34]:
accuracy = accuracy_score(y_train, model.predict(X_train))
print("Train Accuracy: %.2f%%" % (accuracy * 100.0))

Train Accuracy: 91.46%

In [35]:
accuracy = accuracy_score(y_test, y_pred)
print("Test Accuracy: %.2f%%" % (accuracy * 100.0))

Test Accuracy: 83.10%

In [36]:
feat_dict= {}
for col, val in sorted(zip(X_train.columns, model.feature_importances_),key=lambda x:x[1],reverse=True):
  feat_dict[col]=val
feat_df = pd.DataFrame({'Feature':feat_dict.keys(),'Importance':feat_dict.values()})
feat_df

               Feature  Importance
0         EXT_SOURCE_3    0.022662
1          CODE_GENDER    0.018162
2         EXT_SOURCE_2    0.016051
3     Higher education    0.014845
4            Emergency    0.014568
..                 ...         ...
147          Pensioner    0.000000
148            Student    0.000000
149         Unemployed    0.000000
150  Industry: type 13    0.000000
151                XNA    0.000000

[152 rows x 2 columns]

In [37]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.95      0.87      0.90     61171
           1       0.20      0.39      0.26      5053

    accuracy                           0.83     66224
   macro avg       0.57      0.63      0.58     66224
weighted avg       0.89      0.83      0.86     66224

In [38]:
f1_score(y_train, model.predict(X_train), sample_weight=classes_weights)

0.9447229189235699

In [39]:
classes_weights_test = class_weight.compute_sample_weight(
    class_weight='balanced',
    y=y_test
)
f1 = f1_score(y_test, y_pred, sample_weight=classes_weights_test)
f1

0.5127225402960816

In [40]:
y_pred_adjusted = []
for pred in model.predict_proba(X_test):
    if pred[1] >= 0.1:
        y_pred_adjusted.append(1)
    else:
        y_pred_adjusted.append(0)
print(classification_report(y_test, y_pred_adjusted))
f1_2 = f1_score(y_test, y_pred_adjusted)
print(f1_2)

              precision    recall  f1-score   support

           0       0.97      0.41      0.57     61171
           1       0.10      0.83      0.18      5053

    accuracy                           0.44     66224
   macro avg       0.54      0.62      0.38     66224
weighted avg       0.90      0.44      0.54     66224

0.18493511048754824

In [41]:
model.best_iteration

99

In [42]:
df_tmp.to_csv('clean2_data.csv')